<label for="blog-title" class="col-sm-2 control-label">Blog title:</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="blog-title" value="" id="blog-title" placeholder="title of post">
  </div>
  <label for="blog-body" class="col-sm-2 control-label">Blog body:</label>
  <div class="col-sm-10">
  <textarea class="form-control" type="text" name="blog-body" value="" id="blog-body" placeholder="blog body text"></textarea>
  </div>
  <label for="blog-image" class="col-sm-2">Blog image link:</label>
  <div class="col-sm-10">
    <input type="text" name="blog-image" id="blog-image" class="form-control">
  </div>
  <div class="col-sm-10 col-sm-push-2">
    <input type="submit" name="button" value="Submit Post" class="btn btn-primary submitButton">
  </div>
