<div class="modal fade login-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Log-In</h4>
            </div>
            <div class="modal-body">
              <div id="login-modal" class="row">
                <label for="username">Username</label>
                  <input type="text" name="username" id="username" placeholder="Username">

                <label for="password">Password</label>
                  <input type="text" name="password" id="password" placeholder="password">

              </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="add-button" name="submit" value="Add User"/>
            </div>
        </div>
    </div>
</div>
