
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  position: relative;
  background-image: url('../images/stream-header.jpg');
  background-size: cover;
};

.header::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#FFF, 0.2);
}

h1{
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 65px;
  z-index: 10;
}

button{
  float: right;
}
