  <label for="blogTitle" class="col-sm-2 control-label">Blog title:</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="blog-title" value="" id="blogTitle" placeholder="title">
  </div>
  <label for="blogBody" class="col-sm-2 control-label">Blog body text:</label>
  <div class="col-sm-10">
  <textarea class="form-control" type="text" name="blog-body" value="" id="blogBody" placeholder="blog-body"></textarea>
  </div>
  <div class="col-sm-10 col-sm-push-2">
    <input type="submit" name="button" value="Submit Post" class="btn btn-primary submitButton">
  </div>
