  <label for="firstName">First Name</label>
  <input type="text" name="firstName" id="firstName" placeholder="First Name">

  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" id="lastName" placeholder="Last Name">

  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="Username">

  <label for="email">Email</label>
  <input type="text" name="email" id="email" placeholder="Email">

  <label for="password">Password</label>
  <input type="text" name="password" id="password" placeholder="password">

<input type="submit" class="add-button" name="submit" value="Add User"/>
